<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light navbar-float">
    <div class="container">
        <a th:href="@{/home}" class="navbar-brand">Smart<span class="text-primary">Mall</span></a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarContent">
            <ul class="navbar-nav ml-lg-4 pt-3 pt-lg-0">
                <li class="nav-item active">
                    <a th:href="@{/home}" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/about}" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/services}" class="nav-link">Services</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/blog}" class="nav-link">News</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/contact}" class="nav-link">Contact</a>
                </li>
            </ul>

            <div class="ml-auto">
                <a th:href="@{/users/login}" class="btn btn-outline rounded-pill">Sign in</a>
                <a th:href="@{/users/register}" class="btn btn-outline rounded-pill">Sign up</a>
            </div>
        </div>
    </div>
</nav>