<div th:fragment="sidebar" id="body-pd">
    <div class="l-navbar" id="nav-bar">
        <nav class="sidebar-nav">
            <div class="header_toggle" id="header-toggle-div">
                <i class='bx bx-menu' id="header-toggle"></i>
            </div>

            <div class="nav_list" th:each="category: ${categories}" th:object="${category}">
                <a th:href="@{/products/all/{id}(id=${category.getId()})}" th:id="${category.getHtmlId()}"  class="nav_link">
                    <img class='nav_icon' th:src="*{photo}" />
                    <span class="nav_name" th:text="*{name}">Name</span>
                    <div class="edit-delete-icons">
                        <a th:href="@{/categories/edit/{id}(id=${category.getId()})}">
                            <i class='bx bx-edit-alt add-edit-delete-icons'></i>
                        </a>
                        <a href="#deleteModal" data-toggle="modal">
                            <i class='bx bx-trash add-edit-delete-icons'></i>
                        </a>
                    </div>
                </a>

                <div id="deleteModal" class="modal fade">
                    <div class="modal-dialog modal-confirm">
                        <div class="modal-content">
                            <div class="modal-header flex-column">
                                <div class="icon-box">
                                    <i class="material-icons">&#xE5CD;</i>
                                </div>
                                <h4 class="modal-title w-100">Are you sure?</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Do you really want to delete this category? This process cannot be undone!</p>
                            </div>
                            <div class="modal-footer justify-content-center">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <a th:href="@{/categories/delete/{id}(id=${category.getId()})}">
                                    <button type="button" class="btn btn-danger">Delete</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>