<div th:fragment="sidebar" id="body-pd">
    <div class="l-navbar" id="nav-bar">
        <nav class="sidebar-nav">
            <div class="header_toggle" id="header-toggle-div">
                <i class='bx bx-menu' id="header-toggle"></i>
            </div>

            <div class="nav_list" th:each="category: ${categories}" th:object="${category}">
                <a th:href="@{/products/all/{id}(id=${category.getId()})}" th:id="${category.getHtmlId()}"  class="nav_link">
                    <img class='nav_icon' th:src="*{photo}" />
                    <span class="nav_name" th:text="*{name}">Name</span>
                </a>
            </div>
        </nav>
    </div>
</div>