<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>
<header>
    <nav th:replace="~{fragments/navbar}"></nav>
</header>

<main>
    <h2 class="mb-5" style="margin: 120px 44% 0px 44%;">Add product</h2>
    <div style="display: flex">
        <img class="add-product-img" src="../images/add-product.jpg">

        <div class="product-form">
            <div class="product-form-inner">
                <form enctype="multipart/form-data"
                      th:method="POST"
                      th:action="@{/products/add}"
                      th:object="${productsAddBindingModel}">
                    <h3 style="margin: 10px 57px;">Please enter info about product</h3>

                    <div>
                        <p class="photo-p">Photo</p>
                        <label for="image" id="drop-area">
                            <input name="photo" type="file" accept="image/*" id="image" hidden>
                            <div id="img-view">
                                <img src="../images/upload-image-icon.png">
                                <p>Drag and drop or click here to upload image</p>
                            </div>
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="name">Name</label>
                        <input name="name" type="text" class="form-control" id="name">
                    </div>

                    <div class="form-group">
                        <ul>
                            <li th:each="category : ${categories}"
                                th:value="${category.getId()}">
                                <a th:href="@{/categories/add}" th:text="${category.getName()}"></a>
                            </li>
                        </ul>
                    </div>

                    <div class="form-group">
                        <label for="categoryId">Category</label>
                        <select id="categoryId"
                                name="categoryId"
                                class="form-control">
                            <option value="">- Select a category -</option>
                            <option
                                    th:each="category : ${categories}"
                                    th:text="${category.getName()}"
                                    th:value="${category.getId()}"
                                    th:selected="*{categoryId} == ${category.getId()}">
                                Model
                            </option>

                        </select>
                    </div>

                    <div class="form-group">
                        <label for="currencyCode">Currency</label>
                        <select id="currencyCode"
                                name="currencyCode"
                                class="form-control">
                            <option value="">- Select a currency -</option>
                            <option
                                    th:each="currency : ${currencies}"
                                    th:text="${currency.getName()}"
                                    th:value="${currency.getCurrencyCode()}"
                                    th:selected="*{currencyCode} == ${currency.getCurrencyCode()}">
                                Model
                            </option>

                        </select>
                    </div>

                    <div class="form-group">
                        <label for="price">Price</label>
                        <input name="price" type="number" class="form-control" id="price">
                    </div>

                    <div class="form-group">
                        <label for="discount">Discount</label>
                        <input name="discount" type="number" class="form-control" id="discount">
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea name="description" id="description" cols="30" rows="8" class="form-control"></textarea>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Add product" class="btn btn-primary">
                    </div>

                </form>
            </div>
        </div>
    </div>
</main>

<footer th:replace="~{fragments/footer}"></footer>

<div th:replace="~{fragments/scripts}"></div>
</body>
</html>