<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head}">
</head>
<body>
<header>
    <nav th:replace="~{fragments/navbar}"></nav>
</header>

<main>
    <h2 class="mb-5" style="margin: 120px 43.5% 0px 43.5%;">Add category</h2>
    <div style="display: flex">
        <img class="add-product-img" src="../images/add-category.jpg">

        <div class="category-form">
            <div class="category-form-inner">
                <form enctype="multipart/form-data"
                      th:method="POST"
                      th:action="@{/categories/add}"
                      th:object="${categoriesAddBindingModel}">
                    <h3 style="margin: 10px 50px;">Please enter info about category</h3>

                    <div>
                        <p class="photo-p">Photo</p>
                        <label for="image" id="drop-area">
                            <input name="photo" type="file" accept="image/*" id="image" hidden>
                            <div id="img-view">
                                <img src="../images/upload-image-icon.png">
                                <p>Drag and drop or click here to upload image</p>
                            </div>
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="name">Name</label>
                        <input name="name" type="text" class="form-control" id="name">
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea name="description" id="description" cols="30" rows="8" class="form-control"></textarea>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Add category" class="btn btn-primary">
                    </div>

                </form>
            </div>
        </div>
    </div>
</main>

<footer th:replace="~{fragments/footer}"></footer>

<div th:replace="~{fragments/scripts}"></div>
</body>
</html>